body {
	background-image:url("old_map_2X.png");
}
.container {
	padding-top: 400px;
	background-image:url("old_map_2X.png");
}
#breweries-list {
	font-size: 15px;
	color: grey;
	padding-top: 200px;
}


#map { 
	position: absolute; 
	top:188px; 
	bottom:200px; 
	width:40%; 
	left: 700px;
	
	
}
/*#masonry-grid {
    width: 1200px; // width of the entire container for the wall
  }*/

h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 60px;
}
.form-group {
	margin-left: 100px;
	margin-top: 48px;
}
.form-group2 {
	padding-left: 160px;

}
#search {
	margin-left: 100px;
}
.form-group {
	width: 30%;
}

